.center {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.textToLeft {
  text-align: left;
  padding: 10px;
}
.textToRight {
  text-align: left;
}
.header {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(111, 186, 189);
  padding: 10px;
  background-color: navajowhite;
  text-align: center;
}
.RedText {
  color: red;
}
.redBorder {
  border: 2px solid rgb(245, 67, 67);
}
.greenBorder {
  border: 2px solid rgb(91, 236, 110);
}
.blackBorder {
  border: 2px solid rgb(15, 15, 15);
}
.edit,
.save,
.remove,
.submit {
  outline: none;
  background: none;
  border: none;
}

.edit,
.save,
.remove,
.submit {
  padding: 5px 10px;
  cursor: pointer;
}
.save {
  display: none;
  background: #32ad60;
  color: #ffffff;
}

.edit,
.submit {
  background: #2199e8;
  color: #ffffff;
}
.remove {
  background: #ec5840;
  color: #ffffff;
}
.submit {
  float: inline-end;
  width: 100px;
  height: 40px;
}
